@import '../mixins/accessibility';

$form-text-inputs: "input[type=text], input[type=number], input[type=url], input[type=tel], input[type=email], input[type=password], input:not([type])";

.form--inline {
    display: inline;
}
.form__group {
    margin-bottom: 1rem;
}
.form__label {
    font-size: 80%;
    margin-bottom: .25rem;
    display: block;
}
.form__control {
    select, textarea, #{$form-text-inputs} {
        display: block;
        width: 100%; height: $form-field-height;
        padding: $form-field-padding;
        border: 0;
        border-bottom: $thin solid $form-field-accent;
        background: $form-field-background;
        color: $form-field-text;
        font: inherit;
        outline: none;
        transition: border-color $fast;

        &:focus:not([readonly]):not([disabled]) {
            border-color: $form-field-active-accent;
        }
    }
    textarea {
        height: 6rem !important;
        resize: vertical;
    }
}
.form__errors {
    background: $form-error-background;
    color: $form-error-text;
    font-size: 80%;
    ul {
        list-style-type: none;
        padding: $form-field-padding;
        margin: 0;
    }
}
.form__group--has-errors .form__control input {
    border-color: $form-field-error-accent;
    &:focus:not([readonly]):not([disabled]) {
        border-color: $form-field-error-accent;
    }
}
.form__checker {
    margin-bottom: .25rem;
    input {
        font-size: 100%;
        position: relative;
        top: -1px;
        margin: 1ex;
    }
}
