@import '../mixins/hacks-and-stuff';
@import '../mixins/responsivity';


.jumbotron {
    @include clearfix;

    margin: $jumbotron-margin;
    border: $jumbotron-border;
    background: $jumbotron-background;
    color: $jumbotron-text;
    box-shadow: 0 2rem 5rem rgba($black, .1),
                0 2rem 1rem -1rem rgba($black, .1);

    h1 {
        font-size: 2.4em;
    }

    &--standalone {
        margin: $jumbotron-margin-standalone;
    }
}

.jumbotron__title,
.jumbotron__content,
.jumbotron__actions {
    margin: $jumbotron-padding;
    &--gapless {
        margin: 0;
    }
}

// responsivity
@include media-breakpoint-up(md) {
    .jumbotron {
        font-size: 1.2rem;
        &--standalone {
            margin: $jumbotron-margin-standalone-large;
        }
    }
    .jumbotron__title,
    .jumbotron__content,
    .jumbotron__actions {
        margin: $jumbotron-padding-large;
    }
}
