.grid
    h1 Actions

    .actions
        button.button.button--link Go back
        | 
        button.button.button--primary Primary action
        | 
        button.button.button--secondary Secondary
        | 
        button.button(title="I'm not even here!") Default
