.grid
    h1 Actions Card
    
    .actions-card
        .actions-card__header
            h1 Action title
            .actions-card__content
                p.message Are you sure you want to delete this thing?
                button.button.button--danger.button--block
                    | I'm sure! Go ahead and delete this thing.
                button.button.button--secondary.button--block
                    | Not realy… Please take me back.
