.flash I'm a transient text with no meaning in particular.
.flash.flash--success The thing happened okay. You did good.
.flash.flash--warning The thing could't be done. Please check the thing for stuff.
.flash.flash--error The thing is totally messed up. Take action NOW!
.flash.flash--info A scheduled thing will happen this afternoon. No action is needded.
