header#header.navbar
    .grid
        .grid__row
            .grid__flex.grid__flex--0
                .navbar__content
                    .navbar__brand
                        a(href='#')
                            img(src='/clients/vetorzero/moodboard/web/_static/images/logo.svg', alt='VZ.Lab - Moodboard', height='30px')

            .grid__flex.grid__flex--1
                nav.navbar__content
                    a.navbar__link.navbar__link--active(href='#') An action
                    |
                    a.navbar__link(href='#') Another action

            .grid__flex.grid__flex--0
                .navbar__content
                    p
                        | Logged in as &nbsp;
                        em User Name
                        |
                    a(href='#') Log out
