.ks__section {
    // margin: 4rem 0 0;
    padding: 8rem 0;
    border-bottom: .125rem solid rgba(255, 255, 255, .05);
}
.ks__header {
    font-size: 2.5rem;
    margin-bottom: 8rem;
}
.ks__pill {
    padding: .5rem;
    background: dimgray;
    text-align: center;
    border-radius: .25rem;
    margin-bottom: 1rem;
}
