.vz-action-card {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: #fff;
  padding: 2rem 2rem;
  margin: 0 auto 2rem;
  max-width: 50rem;
  width: 100%;
}

.vz-action-card__title {
  @include wide-text;
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
}

.vz-action-card__description {
  @extend p;
}

.vz-action-card__buttons {
  margin-top: 2.5rem;
}
