.vz-brand {
  background-color: #000;
  height: 100%;

  a {
    height: 100%;
    display: flex;
  }

  img {
    color: inherit;
    text-decoration: inherit;
    border: none;
    height: 1.5rem;
    margin: auto;
    display: block;
  }
}
