.vz-breadcrumbs {
  @include wide-text;
}

.vz-breadcrumbs__item {
  display: inline-block;

  a {
    @include unlink;

    &:focus, &:hover {
      background: $accent;
    }
  }

  // add a trailing '/' to every item, except for the last one
  &:not(:last-child):after {
    content: "/";
    padding: 0 1rem;
    opacity: .5;
  }
}
