$button-colors: (
  primary: dodgerblue,
  secondary: #606060,
  yes: $yes,
  no: $accent,
  warning: $warning,
  danger: $danger
) !default;


.vz-button {
  @include unlink;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  color: rgba(0,0,0,0.6);
  background-color: $white;
  display: inline-block;
  padding: .5rem 3rem;
  white-space: nowrap;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.vz-button--small {
  padding: .3rem 1.5rem;
}

.vz-button--micro {
  font-size: .9rem;
  padding: 0;
}

.vz-button--cards {
  margin: 3rem 2rem 0 0;
  padding: 0;
}

.vz-button--square {
  padding: .5rem .8rem;
}

.vz-button--close {
  background-color: rgba($black, .6);
  border: 1px solid rgba($black, .7);
  color: $white;
}

.vz-button--close:hover {
  background-color: rgba($black, .8);
}

.vz-button--full-width {
  margin-bottom: .5rem;
  display: block;
  width: 100%;
}

// Links
.vz-button--link {
  background-color: transparent;
  padding-bottom: 0;
}

//Outline
.vz-button--outline {
  background-color: transparent;
  border: 1px solid $off-white;
}

//With icons
.vz-button--uses-icon {
  padding: 0.5rem 1rem;
  position: relative;

  i.icon {
    width: inherit;
  }

  > :first-child {
    margin-right: .25rem;
  }

  > :last-child {
    margin-left: .25rem;
  }
}

.vz-button--use-icon-medium {
  font-size: 1.5rem;
}

.vz-button--use-icon-large {
  font-size: 1.7rem;
}

@each $variant, $color in $button-colors {
  @include button($variant, $color);
}

@each $variant, $color in $button-colors {
  @include links($variant, $color);
}

@each $variant, $color in $button-colors {
  @include outlines($variant, $color);
}
