.vz-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
  color: $black;
}

// .vz-card:hover {
//   -webkit-box-shadow: 0px 10px 0px 0px $yes;
//   -moz-box-shadow: 0px 10px 0px 0px $yes;
//   box-shadow: 0px 5px 0px 0px $yes;
// }

.vz-card__header {
  padding: 1rem 1rem 0 1rem;
}

.vz-card__title {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 120%;
}

.vz-card__description {
  font-size: 87.5%;
}

.vz-card__image {
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.vz-card__content {
  padding: 1rem;

  dl {
    margin-top: 0;
  }
}

.vz-card__footer {
  flex-flow: row-reverse;
  display: flex;
  padding: 1rem;

  button {
    margin: 0 .25rem;
  }
}

.vz-card__separator {
  background-color: $accent;
  margin: 1rem 0 1rem 1rem;
  height: 4px;
  width: 31%;
}
