.vz-comment {
  background-color: $white;
  margin: 1rem 1rem 2rem;
  transition: all .25s;
  position: relative;
  cursor: pointer;
}

.vz-comment:hover {
  .vz-comment__actions {
    opacity: 1;
    top: 100%;
  }
}

.vz-comment--tail-left::before, .vz-comment--tail-right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: .5rem solid transparent;
}

.vz-comment--tail-left::before {
  right: 100%;
  bottom: 1rem;
  border-bottom-color: $white;
  border-right-color: $white;
  transition: border-color .25s;
}

.vz-comment--tail-right::before {
  left: 100%;
  bottom: 1rem;
  border-bottom-color: $white;
  border-left-color: $white;
  transition: border-color .25s;
}

.vz-comment__body {
  transition: border-color .25s;
  padding: 1rem;
}

.vz-comment__actions {
  transition: all 0.2s ease-in-out;
  position: absolute;
  font-size: 90%;
  color: $black;
  opacity: 0;
  padding: 0;
  top: 95%;
  right: 0;
}

.vz-comment--is-active {
  background-color: $yes !important;
  transition: all .25s;
  color: $white;
}

.vz-comment--is-active-right {
  @extend .vz-comment--is-active;
}

.vz-comment--is-active-left {
  @extend .vz-comment--is-active;
}

.vz-comment--is-active-right::before {
  border-bottom-color: $yes;
  border-left-color: $yes;
}

.vz-comment--is-active-left::before {
  border-bottom-color: $yes;
  border-right-color: $yes;
}


//No tail options
.vz-comment--notail {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
  margin: 1rem 1rem 2rem;
  position: relative;
  cursor: pointer;
}

.vz-comment--notail:nth-child(even) {
  background-color: $off-white;
  text-align: right;
}

.vz-comment--notail:nth-child(odd) {
  background-color: $white;
  text-align: left;
}

// Quem e quando
.vz-comment--whowhen {
  background: transparent;
  color: #6e6d6d;
  display: block;
  width: 100%;

  .vz-comment__body {
    padding: 0;
  }
}

.vz-comment__info {
  font-weight: 800;
  font-size: 87.5%;
  color: #6e6d6d;
}

.vz-comment__info::after {
  content: "";
  background-color: #474747;
  margin-top: .25rem;
  display: block;
  width: 100%;
  height: 1px;
}
