.vz-comment {
  background-color: $white;
  margin: 1rem 1rem 2rem;
  position: relative;
}

.vz-comment--tail-left::before, .vz-comment--tail-right::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: .5rem solid transparent;
}

.vz-comment--tail-left::before {
  right: 100%;
  bottom: 1rem;
  border-bottom-color: $white;
  border-right-color: $white;
  transition: border-color 250ms;
}

.vz-comment--tail-right::before {
  left: 100%;
  bottom: 1rem;
  border-bottom-color: $white;
  border-left-color: $white;
  transition: border-color 250ms;
}

.vz-comment__body {
  transition: border-color 250ms;
  padding: 1rem;
}

.vz-comment__actions {
  position: absolute;
  font-size: 90%;
  padding: 0;
  top: 100%;
  right: 0;
}

.vz-comment--is-active {
  background-color: $off-white;
}

.vz-comment--is-active-right {
  @extend .vz-comment--is-active;
}

.vz-comment--is-active-left {
  @extend .vz-comment--is-active;
}

.vz-comment--is-active-right::before {
  border-bottom-color: $off-white;
  border-left-color: $off-white;
}

.vz-comment--is-active-left::before {
  border-bottom-color: $off-white;
  border-right-color: $off-white;
}
