.vz-container {
  margin: 0 auto;
  max-width: $container-width;
}

.vz-container--narrow {
  max-width: $container-width-narrow;
}

.vz-container--fluid {
  max-width: 100%
}

.vz-container--flashes {
  margin-bottom: 3rem;
}
