.vz-fab {
  color: inherit;
  text-decoration: inherit;
  border: none;
  color: $white;
  background: $black;
  line-height: 3.5rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-size: 3rem;
  border-radius: 999px;
  overflow: hidden;
  display: block;
}
