.vz-flash-container {
  margin-bottom: 1rem;
  display: flex;
}

.vz-flash-container__indicator {
  background-color: rgba(black, .6);
  margin-right: 5px;
  height: 30px;
  width: 10px;
}

.vz-flash-use-icon {
  display: flex;
  width: 30px;
}

.vz-flash-use-icon__img {
  max-width: 75%;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.vz-flash-container__flash {
  border: 1px solid rgba(black, 0.05);
  background-color: $white;
  align-items: center;
  padding-left: 1rem;
  display: flex;
  height: 30px;
  width: 100%;

  p {
    margin: 0;
  }
}

.vz-flash-container__indicator--ok {
  background-color: $yes;
}

.vz-flash-container__indicator--wrong {
  background-color: $no;
}

.vz-flash-container__indicator--warning {
  background-color: $warning;
}

.vz-flash-container__indicator--info {
  background-color: $info;
}
