.vz-jumbotron {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color: $white;
  padding: 2.5rem;
  width: 100%;
}

.vz-jumbotron__title {
  @extend .wide-text;
  margin-bottom: 3rem;
  font-style: italic;
  font-weight: 500;
  font-size: 3rem;
}

.vz-jumbotron__description {
  margin-bottom: 3.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
