.vz-menu {
  background-color: transparent;

  a {
    @include unlink;
  }
}

.vz-menu__item {
  @include unlink;
  transition: all .25s ease-in-out;
  text-transform: uppercase;
  background-color: $white;
  padding: 1rem 2rem;
  color: $black;
  display: flex;
  border: none;

  p {
    margin: 0;
  }
}

.vz-menu__item:hover {
  background-color: whitesmoke;
}

.vz-menu__item--collapsable {
  .vz-menu__item-submenu {
    padding: 0 0 .5rem 6rem;
    overflow: hidden;
    max-height: 0;

    a {
      transition: all .25s ease-in-out;
      text-transform: uppercase;
      padding: .25rem 0;
      font-size: 87.5%;
      display: block;
    }

    a:hover {
      color: $primary
    }
  }

  label {
    cursor: pointer;
  }

  input {
    display: none;
  }

  input:checked ~ .vz-menu__item-submenu {
    max-height: 50rem;
  }
}

.vz-menu__item--active {
  background-color: whitesmoke;
  border-left: 4px solid $black;
  color: $black;
}

.vz-menu__item-icon {
  position: relative;
  margin-right: 2rem;
  top: 2px;
}
