.vz-progress-bar {
  background-color: $yes;
  position: absolute;
  height: 0.8rem;
  width: 100%;
}

.vz-progress-bar--loading {
  transition: width .5s ease-out, height .25s ease-in 1s;
}

.vz-progress-bar--download {
  animation: infinite-progress-bar 2.5s infinite;
}

.vz-progress-bar--complete {
  height: 0;
}

@keyframes infinite-progress-bar {
  from {
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
  }
  50% {
    -webkit-transform: none;
    transform: none;
  }
  to {
    -webkit-transform: translateX(50%) scaleX(0);
    transform: translateX(50%) scaleX(0);
  }
}
