.vz-progress-bar {
  background-color: $yes;
  position: absolute;
  height: 0.8rem;
  width: 100%;
}

.vz-progress-bar--loading {
  animation: loading-progress-bar 5s infinite;
}

.vz-progress-bar--download {
  animation: infinite-progress-bar 2.5s infinite;
}

@keyframes infinite-progress-bar {
  from {
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
  }
  50% {
    -webkit-transform: none;
    transform: none;
  }
  to {
    -webkit-transform: translateX(50%) scaleX(0);
    transform: translateX(50%) scaleX(0);
  }
}

@keyframes loading-progress-bar {
  0%{
    width: 10%;
  }
  10% {
    width: 22%;
  }
  50% {
    width: 22%;
  }
  60% {
    width: 50%;
  }
  80% {
    width: 50%;
  }
  90% {
    width: 90%;
  }
  95% {
    width: 90%;
  }
  100% {
    width: 10%;
  }
}
