@require '../lib/text.styl';

.vz-action-card {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background-color #fff;
  padding: .75rem 2rem;
  margin: 0 auto 2rem;
  max-width: 50rem;
  width: 100%;
}

.vz-action-card__title {
  wide-text();
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
}

.vz-action-card__description {
  margin-bottom: 1.5rem;
}
