.vz-button {
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  text-transform: capitalize;
  color: rgba(0,0,0,0.6);
  display: inline-block;
  padding: .5rem 3rem;
  white-space: nowrap;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.vz-button--small {
  padding: .3rem 1.5rem;
}

.vz-button--primary {
  background-color: $primary;
  color: $white;
}

.vz-button--primary:hover {
  background-color #0054af;
}

.vz-button--secondary {
  background-color: rgba(black, 0.6);
  color: $white;
}

.vz-button--secondary:hover {
  background-color: rgba(black, 0.7);
}

.vz-button--no {
  background-color $no;
  color: $white;
}

.vz-button--no:hover {
  background-color #d66d47;
}

.vz-button--yes {
  background-color $yes;
  color: $white;
}

.vz-button--yes:hover {
  background-color #079c73;
}

.vz-button--danger {
  background-color $danger;
  color: $white;
}

.vz-button--danger:hover {
  background-color #c31334;
}

.vz-button--full-width {
  margin-bottom: .5rem;
  display: block;
  width: 100%;
}

.vz-link {
  @extends .vz-button;
  background-color: transparent;
}

.vz-link--primary {
 color: $primary;
}
.vz-link--secondary {
  color: rgba(black, 0.6);
}
.vz-link--yes {
  color: $yes;
}
.vz-link--no {
  color: $no;
}

.vz-link--danger {
  color: $danger;
}
