.vz-button {
  border: 1px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  padding: .5rem 3rem;
  white-space: nowrap;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  color: $white;
}

.vz-button--primary {
  transition: all 0.2s ease-in-out;
  background-color: #007bff;
}

.vz-button--primary:hover {
  background-color #0054af;
}

.vz-button--secondary {
  transition: all 0.2s ease-in-out;
  background-color: rgba(black, 0.6);
}

.vz-button--secondary:hover {
  background-color: rgba(black, 0.7);
}

.vz-button--no {
  background-color $accent;
}

.vz-button--no {
  transition: all 0.2s ease-in-out;
  background-color $accent;
}

.vz-button--no:hover {
  background-color #d86b43
}

.vz-button--full-width {
  margin-bottom: .5rem;
  display: block;
  width: 100%;
}
