@require "variables";

$container-width ?= 75rem;
$container-width-narrow ?= 30rem;

.vz-container {
  margin: 0 auto;
  max-width: $container-width;
}

.vz-container--narrow {
  max-width: $container-width-narrow;
}

.vz-container--fluid {
  max-width: 100%
}
