.vz-form-group {
  margin-bottom: 1rem;
}

.vz-form-control {
  display: block;
}

.vz-form-control--label {
  margin-bottom: .25rem;
}

.vz-form-control--input {
  font-size: 1rem;
  padding: .75rem;
  width: 100%;
}

input::placeholder {
  font-size: 1rem;
  color: $black;
}

.is-invalid {
  border: 1px solid coral;
}
