.vz-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: \
    "brand breadcrumbs" \
    "menu content";
}

.vz-layout__brand {
  grid-area: brand;
  background-color: black;
  color: white;
}

.vz-layout__breadcrumbs {
  grid-area: breadcrumbs;
  background-color: lead;
}

.vz-layout__content {
  grid-area: content;
  background: whitesmoke;
}

.vz-layout__menu {
  grid-area: menu
}
