.vz-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas: \
    "brand breadcrumbs" \
    "menu content";
}

.vz-layout__brand {
  grid-area: brand;
  background-color: black;
  color: white;
}

.vz-layout__breadcrumbs {
  grid-area: breadcrumbs;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: linear-gradient(90deg,#333,#777);
  color: #f5f5f5;
  padding: 1rem 2rem;
}

.vz-layout__content {
  grid-area: content;
  background: whitesmoke;
  padding: 2rem;
}

.vz-layout__menu {
  grid-area: menu
}
