.vz-table {
  border-collapse: collapse;
  margin: 0 auto 2rem auto;
  text-align: left;
  width: 100%;
}

.vz-table--frame {
  thead {
    font-size: 87.5%;
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .05);
  }

  tbody tr:nth-child(even) {
    border-top: 1px solid rgba(0, 0, 0, .1);
    // border-top: 1px solid rgba(0, 0, 0, .05);
  }

  tbody tr:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  td, th {
    padding: .75rem 1rem;
  }
  th {
    background-color: #f5f5f5;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
  }
}

.vz-table--list {

}
