.actions-card {
    max-width: 30rem;
    max-width:$action-card-max-width;
    background:$action-card-background;
    color: $action-card-text;
    margin: 4rem auto;
    overflow: auto;
    > * {
        margin: 1rem;
    }
}
.actions-card__header {
    h1 {
        margin: 0;
        font-size: 2rem;
    }
}
.actions-card__content {
    margin-bottom: 2rem;
}
