@import "../mixins/type";

.board-view__header {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid $gray;
}
.board-view__title {
    @include uppercase;
    color: $green;
}
.board-view__description {
    font-style: italic;
    color: $gray-light
}
.board-view__sharing {
    text-align: center;
}
