.comment {
    position: relative;
    background: $comment-background-color;
    transition: background-color $fast;
    margin: 1rem 1rem 2rem;
}
.comment::before {
    content: "";
    position: absolute;
    right: 100%; bottom: 1rem;
    width: 0; height: 0;
    border: .5rem solid transparent;
    border-bottom-color: $comment-background-color;
    border-right-color: $comment-background-color;
    transition: border-color $fast;
}
.comment__body {
    padding: 1rem;
    overflow: auto;
}
.comment__actions {
    position: absolute;
    top: 100%; right: 0;
    width: 100%;
    font-size: 90%;
    text-align: right;
    * {
        opacity: .5;
        transition: 250ms opacity;
        will-change: opacity;
        &:focus {
            opacity: 1;
        }
    }
}

// activation
.comment {
    cursor: pointer;
}
.comment--is-active {
    background: $comment-background-color-active;
    &::before {
        border-bottom-color: $comment-background-color-active;
        border-right-color: $comment-background-color-active;
    }
}
.comment__activate {
    @include reset-button;
    @extend .tagger__tag;
    position: absolute;
    width: 1rem; height: 1rem;
    top: 0.5rem; right: 0.5rem;
    .comment--is-active & {
        @extend .tagger__tag--active;
    }
}
