.form--inline {
    display: inline;
}
.form__group {
    margin-bottom: 1rem;
}
.form__label {
    font-size: 80%;
    margin-bottom: .25rem;
    display: block;
}
.form__control {
    input {
        &[type=text], &[type=number], &[type=url], &[type=tel], &[type=email], &[type=password], &:not([type]) {
            height: 40px;
        }
    }
    input, textarea {
        display: block;
        width: 100%;
        padding: $form-field-padding;
        border: 0;
        border-bottom: .125rem solid rgba($form-color, .20);
        background: rgba($form-color, .05);
        background: $gray-dark;
        color: $form-color;
        font: inherit;
        outline: none;
        transition: border-color 250ms;
    }
    textarea {
        height: 6rem !important;
        resize: vertical;
    }
}
.form__control input:focus:not([readonly]):not([disabled]),
.form__control textarea:focus:not([readonly]):not([disabled]) {
    border-color: $form-active-color;
}
.form__errors {
    margin-top: -1rem;
    background: mix($form-error-color, $gray-dark, 30%);
    color: $form-error-color;
    font-size: 80%;
    ul {
        list-style-type: none;
        padding: $form-field-padding;
        padding-top: .25rem;
        padding-bottom: .25rem;
        margin-bottom: 0;
    }
}
.form__group--has-errors .form__control input {
    border-color: rgba($form-error-color, .20);
    &:focus:not([readonly]):not([disabled]) {
        border-color: $form-error-color;
    }
}
