.nav {
    height: 100%;
    display: flex;
}
.nav__item {
    line-height: 1;
    padding: 0 2rem;
    display: inline-flex;
    align-items: center;
    transition: 250ms background-color;
    will-change: background-color;
    &--active {
        background-color: $black;
    }
    &:hover:not(.nav__item--active) {
        background-color: rgba($black, .25);
    }
}
