.pagination {
    margin: 2rem 0;
}
.pagination__content {
    display: flex;
    justify-content: center;
}
.pagination__button {
    @extend .button;
    @extend .button--small;
    color: $pagination-color;
    background: $pagination-background;
    margin: 0 .25rem;
    &:hover, &:focus {
        background: $pagination-background-hover;
    }
    &--active {
        color: $pagination-active-color;
        background: $pagination-active-background;
        &:hover, &:focus {
            background: $pagination-active-background-hover;
        }
    }
    &[disabled] {
        color: $pagination-disabled-color;
        background: $pagination-disabled-background;
    }
}
