.progress-bar {
    pointer-events: none;
    position: absolute;
    height: .5rem;
    top: 0;
    left: 0;
    background-color: $progress-bar-color;
    opacity: 1;
    transition: 1000ms opacity 500ms, 250ms width linear;

    &--complete {
        opacity: 0;
    }
}
