html {
  font: 16px/1.618 "Titillium Web", "sans-serif";
  background-color: $white;
  box-sizing: border-box;
  height: 100%;
}
* {
  box-sizing: inherit;
}
body {
  margin: 0;
  height: 100%;
}

body::-moz-selection {
  color: $white;
  background-color: $black;
}

::selection {
  color: $white;
  background-color: $black;
}

dl {}

dt {
  font-size: 87.5%;
  font-weight: 600;
}

dd {
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 1rem .5rem;
}
