.ks-section {
  margin: 3rem 0;
}

.ks-section__container {
  position: relative;
  width: fit-content;
  margin-right: 2rem;

  img {
    display: block;
  }

  p {
    line-height: 1.3rem;
    font-size: 1.2rem;
    margin-top: 0;
  }
}

.ks-figure {
  background-color: $black;
  margin-bottom: 4rem;
  padding: .5rem;

  pre {
    background-color: transparent;
    color: $white;
    padding: 0;
    margin: 0;
  }
}

.ks-highlighter {
  background-color: rgba(255, 255, 255, .7);
  color: $accent;
}

//html code colors
.ks-nt {
  color: #F92672;
}

.ks-na {
  color: #A6E22E;
}

.ks-s {
  color: #FD971F;
}

.ks-cards {
  flex-flow: nowrap !important;
}
