// Colors

$white: #FFF;
$black: #000;
$off-white: #dcdcdc;
$grey: #dee2e6;
$coral: #ff7f50;
$blue: #007bff;
$light-blue: #add8e6;
$green: #07be8c;
$gold: #ffd700;
$red: #dc143c;

$accent: $coral;
$primary: $blue;
$yes: $green;
$warning: $gold;
$info: $light-blue;
$success: $yes;
$no: $accent;
$danger: $red;

//
$container-width: 75rem;
$container-width-narrow: 30rem;

//easings
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);

//media queries
$mobile: "(max-width: 1023px)";
