// Colors

$white = #FFF;
$black = #000;
$off-white = GAINSBORO;
$grey = #dee2e6;

$accent = CORAL;
$primary = #007bff;
$yes = #07be8c;
$warning = GOLD;
$info = LIGHTBLUE;
$success = $yes;
$no = $accent;
$danger = CRIMSON;
