doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title vz.lab | style
        link(rel="stylesheet" href="css/main.css")
    body
        .layout
            .layout__header
                include blocks/_header

            .layout__body
                .layout__content
                    include blocks/_actions-card
                    include blocks/_actions
                    include blocks/_buttons

                .layout__post-content
                    section.post-content post-content

                .layout__footer
                    footer.footer footer

        // scripts
        script(src="js/header-shadow.js")
