.actions-card
    .actions-card__header
        h1 Action title
    
    .actions-card__content
        p.message Are you sure you want to delete this thing?
    
    .actions-card__actions
        button.button.button--danger.button--block
            | I'm sure! Go ahead and delete me!
        button.button.button--secondary.button--block
            | Not realy… Please take me back.
