h3 Regular
div
    button.button Default
    button.button.button--primary Primary
    button.button.button--secondary Secondary
    button.button.button--yes Yes
    button.button.button--no No
    button.button.button--danger Danger
    button.button.button--link Link

h3 Small
div
    button.button.button--small Default
    button.button.button--small.button--primary Primary
    button.button.button--small.button--secondary Secondary
    button.button.button--small.button--yes Yes
    button.button.button--small.button--no No
    button.button.button--small.button--danger Danger
    button.button.button--small.button--link Link

h3 Link
div
    button.button.button--link Default
    button.button.button--link.button--primary Primary
    button.button.button--link.button--secondary Secondary
    button.button.button--link.button--yes Yes
    button.button.button--link.button--no No
    button.button.button--link.button--danger Danger
    button.button.button--link.button--link Link

h3 Squares
div
    button.button.button--square.button--large ⌘
    button.button.button--square.button--large.button--primary ⌘
    button.button.button--square.button--large.button--secondary ⌘
    button.button.button--square.button--large.button--yes ⌘
    button.button.button--square.button--large.button--no ⌘
    button.button.button--square.button--large.button--danger ⌘
    button.button.button--square.button--large.button--link ⌘
    br
    button.button.button--square ⇪
    button.button.button--square.button--primary ⇪
    button.button.button--square.button--secondary ⇪
    button.button.button--square.button--yes ⇪
    button.button.button--square.button--no ⇪
    button.button.button--square.button--danger ⇪
    button.button.button--square.button--link ⇪
    br
    button.button.button--square.button--small ↖︎
    button.button.button--square.button--small.button--primary ↖︎
    button.button.button--square.button--small.button--secondary ↖︎
    button.button.button--square.button--small.button--yes ↖︎
    button.button.button--square.button--small.button--no ↖︎
    button.button.button--square.button--small.button--danger ↖︎
    button.button.button--square.button--small.button--link ↖︎
    br
    button.button.button--square.button--micro ✕
    button.button.button--square.button--micro.button--primary ✕
    button.button.button--square.button--micro.button--secondary ✕
    button.button.button--square.button--micro.button--yes ✕
    button.button.button--square.button--micro.button--no ✕
    button.button.button--square.button--micro.button--danger ✕
    button.button.button--square.button--micro.button--link ✕

h3 Block
div
    button.button.button--block Default
    button.button.button--block.button--primary Primary
    button.button.button--block.button--secondary Secondary
    button.button.button--block.button--yes Yes
    button.button.button--block.button--no No
    button.button.button--block.button--danger Danger
    button.button.button--block.button--link Link

h3 All together now
div
    button.button.button--small.button--primary.button--block Small + Primary + Block
    button.button.button--danger.button--block.button--link Danger + Block + Link
    button.button.button--secondary.button--block Secondary + Block
