div(style="display: flex; justify-content: center;")
    div(style="position: relative; margin: 2rem;")
        img(src="//unsplash.it/g/300/300?image=1062")
        .count-bubble.count-bubble--faded 0
    div(style="position: relative; margin: 2rem;")
        img(src="//unsplash.it/g/300/300?image=1041")
        .count-bubble 5
    div(style="position: relative; margin: 2rem;")
        img(src="//unsplash.it/g/300/300?image=1000")
        .count-bubble 999+
