.grid__row
    .grid__col.grid__col--4
        .ks__pill 4
    .grid__col.grid__col--3
        .ks__pill 3
    .grid__col.grid__col--4
        .ks__pill 4
    .grid__col.grid__col--1
        .ks__pill 1
.grid__row
    .grid__col.grid__col--3
        .ks__pill 3
    .grid__col.grid__col--3
        .ks__pill 3
    .grid__col.grid__col--3
        .ks__pill 3
    .grid__col.grid__col--3
        .ks__pill 3
.grid__row
    .grid__col.grid__col--3
        .ks__pill 3
    .grid__col.grid__col--7.grid__col--end
        .ks__pill 7 end


h3 Proportional
.grid__row
    .grid__flex.grid__flex--1
        .ks__pill 1/5
    .grid__flex.grid__flex--2
        .ks__pill 2/5
    .grid__flex.grid__flex--1
        .ks__pill 1/5
    .grid__flex.grid__flex--1
        .ks__pill Something something 1/5
.grid__row
    .grid__flex
        .ks__pill Introvert 01
    .grid__flex.grid__flex--1
        .ks__pill Extrovert
    .grid__flex
        .ks__pill Introvert 02
