.jumbotron
    .jumbotron__title
        h1 Get over here!

    .jumbotron__content
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit!

    .jumbotron__actions
        button.button.button--primary.button--block.button--large I'm in!
