.pagination
    .pagination__content
        a.pagination__button.pagination__button--beginning(href='#') Most recent
        a.pagination__button.pagination__button--page(title='Go to page 1' href='#') 1
        a.pagination__button.pagination__button--page.pagination__button--active(title='Go to page 2' href='#') 2
        a.pagination__button.pagination__button--page(title='Go to page 3' href='#') 3
        a.pagination__button.pagination__button--page(title='Go to page 4' href='#') 4
        span.pagination__button.pagination__button--page(disabled) …
        a.pagination__button.pagination__button--page(title='Go to page 19' href='#') 19
        a.pagination__button.pagination__button--beginning(href='#') Oldest
