.text-center
    .profile(tabindex=0)
        .profile__card
            .profile__name: span mail@example.com
            .profile__avatar: img(src="//www.gravatar.com/avatar/1a81f2c0d145316eecd28b209f09245d?s=80")
                
        .profile__hover-card
            .profile__actions
                button.button.button--block.button--small.button--primary Edit profile
                button.button.button--block.button--small Logout
