.center
    .profile(tabindex=0)
        .profile__card
            .profile__name: span mail@example.com
            .profile__avatar: img(src="//www.gravatar.com/avatar/5658ffccee7f0ebfda2b226238b1eb6e?s=180")
        .profile__hover-card
            .profile__actions
                button.button.button--block.button--small.button--primary Edit profile
                button.button.button--block.button--small Logout
