mixin section(title)
    section.ks__section
        .grid
            h1.ks__header #{title}
            block
    
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
            
        title vz.lab | style

        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/kitchen-sink.css")
    body
        .layout
            .layout__header
                include _header

            .layout__body
                .layout__content
                    +section("Grid")
                        include blocks/_grid
                    +section("Action card")
                        include blocks/_actions-card
                    +section("Form")
                        include blocks/_form
                    +section("Form actions")
                        include blocks/_actions
                    +section("Buttons")
                        include blocks/_buttons
                    +section("Comments")
                        include blocks/_comment
                    +section("Count bubbles")
                        include blocks/_count-bubble
                    +section("Flashes")
                        include blocks/_flash
                    +section("Pagination")
                        include blocks/_pagination
                    +section("User profile card")
                        include blocks/_profile
                    +section("Progress bar")
                        include blocks/_progress




                        //- _footer.scss
                        //- _image-card.scss
                        //- _images-grid.scss
                        //- _layout.scss
                        //- _lightbox.scss
                        //- _mosaic.scss
                        //- _nav.scss
                        //- _navbar.scss
                        //- _overlay-dialog.scss
                        //- _progress-bar.scss
                        //- _table.scss
                        //- _tagger.scss







                    
                //- .layout__post-content
                //-     section.post-content post-content
                //- 
                //- .layout__footer
                //-     footer.footer footer

        //- scripts
        script(src="js/header-shadow.js")
