@import 'mixins/functions';
@import 'mixins/responsivity';

@each $breakpoint, $suffix in suffixes($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        #{".text-start" + $suffix} {
            text-align: left;
            text-align: start;
        }
        #{".text-end" + $suffix} {
            text-align: right;
            text-align: end;
        }
        #{".text-justify" + $suffix} {
            text-align: justify;
        }
        #{".text-center" + $suffix} {
            text-align: center;
        }

        // flex
        #{".flex-center" + $suffix} {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #{".flex-center-vertical" + $suffix} {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
        }
    }
}
