// =============================================================================
// Synonyms
// -----------------------------------------------------------------------------

// colors
$white: #fff !default;
$black: #000 !default;
$gray-1: mix($white, $black, 1 / 8 * 100) !default;
$gray-2: mix($white, $black, 2 / 8 * 100) !default;
$gray-3: mix($white, $black, 3 / 8 * 100) !default;
$gray-4: mix($white, $black, 4 / 8 * 100) !default;
$gray-5: mix($white, $black, 5 / 8 * 100) !default;
$gray-6: mix($white, $black, 6 / 8 * 100) !default;
$gray-7: mix($white, $black, 7 / 8 * 100) !default;
$gray-lightest: $gray-7 !default;
$gray-lighter: $gray-6 !default;
$gray-light: $gray-5 !default;
$gray: $gray-4 !default;
$gray-dark: $gray-3 !default;
$gray-darker: $gray-2 !default;
$gray-darkest: $gray-1 !default;
$green: #cf0 !default;
$pink: #ec0d8b !default;
$yellow: gold !default;
$blue: dodgerblue !default;

// sizes
$short: 15rem !default;
$thin: 2px !default;

// times
$fast: 250ms !default;

// type
$sans-serif: "Titillium Web", sans-serif !default;


// =============================================================================
// Colors
// -----------------------------------------------------------------------------

$color-info: teal !default;
$color-success: $green !default;
$color-warning: $yellow !default;
$color-error: $pink !default;


// =============================================================================
// General site styles
// -----------------------------------------------------------------------------

$accent: $green !default;
$selection-background: $accent !default;
$selection-color: $black !default;
$background: $gray-darker !default;
$text: $white !default;


// =============================================================================
// Layout
// -----------------------------------------------------------------------------

$layout-header-height: 60px !default;


// =============================================================================
// Grids
// -----------------------------------------------------------------------------

$grid-columns: 12;
$grid-base-gutter: 1rem;
// // Variable gutters
// $grid-gutters: (
//     xs: $grid-base-gutter,
//     sm: $grid-base-gutter,
//     md: $grid-base-gutter,
//     lg: $grid-base-gutter,
//     xl: $grid-base-gutter,
//     max: $grid-base-gutter,
// ) !default;
$grid-gutters: 1rem !default;


// =============================================================================
// Responsivity
// -----------------------------------------------------------------------------

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    max: 1440px,
) !default;


// =============================================================================
// ==                                                                         ==
// ==                                 Blocks                                  ==
// ==                                                                         ==
// =============================================================================


// =============================================================================
// Action
// -----------------------------------------------------------------------------

$action-border-color: $gray-dark !default;


// =============================================================================
// Navbar
// -----------------------------------------------------------------------------

$navbar-height: 60px !default;
$navbar-color: $white !default;
$navbar-background: $background !default;
$navbar-link-hover-background: $gray-dark !default;


// =============================================================================
// Buttons
// -----------------------------------------------------------------------------

$buttons: (
    // type: background color hover:background
    default: lightgray black lighten(lightgray, 20%),
    primary: $blue white lighten($blue, 20%),
    secondary: mix(lightgray, $blue) white lighten(mix(lightgray, $blue), 20%),
    yes: yellowgreen white lighten(yellowgreen, 20%),
    no: tomato white lighten(salmon, 20%),
    danger: crimson white lighten(crimson, 20%),
) !default;


// =============================================================================
// Flashes
// -----------------------------------------------------------------------------

$flashes: (
    // type: background border-color color
    default: rgba(dimgray, .33) dimgray $white,
    info: rgba(teal, .33) teal $white,
    success: rgba(yellowgreen, .33) yellowgreen $white,
    warning: rgba($yellow, .33) $yellow $white,
    error: rgba(crimson, .33) crimson $white,
) !default;


// =============================================================================
// Action card
// -----------------------------------------------------------------------------

$action-card-max-width: 40rem !default;
$action-card-background: $black !default;
$action-card-text: $white !default;


// =============================================================================
// Forms
// -----------------------------------------------------------------------------

$form-field-background: $gray-dark !default;
$form-field-text: $white !default;
$form-field-accent: $gray !default;
$form-field-active-accent: $accent !default;
$form-field-error-accent: $yellow !default;
$form-field-height: 40px !default;
$form-field-padding: 0.5rem 1rem !default;
$form-error-background: mix($yellow, $gray-darkest, 50) !default;
$form-error-text: $yellow !default;


// =============================================================================
// Pagination
// -----------------------------------------------------------------------------

$pagination-color: $text !default;
$pagination-background: $gray !default;
$pagination-background-hover: $gray-light !default;
$pagination-active-color: $black !default;
$pagination-active-background: $accent !default;
$pagination-active-background-hover: $accent !default;
$pagination-disabled-color: $gray !default;
$pagination-disabled-background: $gray-dark !default;


// =============================================================================
// Progress bar
// -----------------------------------------------------------------------------

$progress-bar-color: $pink !default;


// =============================================================================
// Profile
// -----------------------------------------------------------------------------

$profile-background: $background !default;
$profile-color: $text !default;
$profile-height: $navbar-height !default;
$profile-hover-card-background: $black !default;
$profile-avatar-size: ($navbar-height * 2/3) !default;
$profile-hover-card-tail-size: .5rem !default;


// =============================================================================
// Image grid
// -----------------------------------------------------------------------------

$image-grid-gutters: 1rem !default;
$image-grid-sorting-marker-width: .125rem !default;


// =============================================================================
// Comments
// -----------------------------------------------------------------------------

$comment-text: $white;
$comment-background: $gray !default;
$comment-background-active: $pink !default;


// =============================================================================
// Count bubble
// -----------------------------------------------------------------------------

$count-bubble-color: $pink !default;
$count-bubble-text: $white !default;
$count-bubble-faded-color: $gray-lighter !default;
$count-bubble-faded-text: $white !default;
$count-bubble-tail-size: .5rem;


// =============================================================================
// Spinner
// -----------------------------------------------------------------------------
$spinner-color: $pink !default;
