@import "variables";
@import 'mixins/grid';

.ks__section {
    // margin: 4rem 0 0;
    padding: 8rem 0;
    border-bottom: .125rem solid rgba(255, 255, 255, .05);
}
.ks__header {
    font-size: 2.5rem;
    margin-bottom: 8rem;
}
.ks__pill {
    padding: .5rem;
    background: $gray;
    color: $white;
    text-align: center;
    border-radius: .25rem;

    &--flat {
        border-radius: 0;
    }
}

// Example grids
.g5 { @include grid(5, $grid-gutters) }
.g7 { @include grid(7, $grid-gutters) }
.gutterless-grid { @include grid($grid-columns, 0px) }


// explample images for progress bar
.ks__loading {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}
