@import 'fonts';
@import 'variables';
@import 'responsive-utils';
@import 'accessibility';
@import 'position';

:root {
    font: 16px/1.414 $sans-serif;
    font-weight: 400;
    background: $background;
    color: $text;
    box-sizing: border-box;
    outline-color: $accent;
}
* {
    font-weight: inherit;
    box-sizing: inherit;
    outline-color: inherit;
}
body {
    margin: 0;
    position: relative;
}
a {
    color: $accent;
}
label {
    cursor: pointer;
}
picture {
    position: relative;
}
h1, h2, h3, h4, h5 {
    font-weight: 200;
}
[tabindex]:not([readonly]):not([disabled]) {
    cursor: pointer;
}
::selection {
    background-color: $selection-background;
    color: $selection-color;
}
::placeholder {
    color: inherit;
    opacity: .25;

}
[hidden] {
    display: none;
}
.faded {
    opacity: .3;
    font-style: italic;
}
.draggable, [draggable=true] {
    cursor: grab;
}
.dragging {
    cursor: grabbing;
}

@import 'blocks/*';
